 body {
	background-color: green;
}

 #carousel {
  margin: 50px auto;
  text-align: center;
  width: 640px;
  height: 480px;
  overflow: hidden;
  border: 2px solid red;
  position: relative;
} 

ul {
  width: 3200px;
  margin: 0;
  padding: 0;
}

li {
  width: 640px;
  list-style: none;
  float: left;
} 

h1 {
  text-align: center;
  color: red;
}



.left {
  float: left;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 10px;
}

.right {
  float: right;
  width: 80px;
  position: absolute;
  top: 50%;
  right: 10px;
}
